*.swp
.rsync_exclude
.DS_Store
.env
.babelrc
.editorconfig

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

upload.sh
composer.phar
composer.lock
package-lock.json

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

client/
var/
build/
node_modules/
etc/
log/
vendor/mgp25/instagram-php/sessions/*
vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

application/config/constants.php
